/SBandSerialReader/obj
/SBandSerialReader/obj
/SBandSerialReader/bin
/SBandSerialReader
/SBandSerialReader
SBandSerialReader/obj/Debug/SBandSerialReader.csproj.CoreCompileInputs.cache
/SBandSerialReader/obj
/SBandSerialReader
SBandSerialReader/obj/Debug/SBandSerialReader.exe
